PORT=3001
SUB2API_BASE_URL=
SUB2API_ADMIN_API_KEY=
VALID_DEMO_TOKEN=demo_token_preview
ADMIN_PASSWORD=admin123456
ORDER_STORE_FILE=
PAYMENT_ORDER_TIMEOUT_MINUTES=30
PUBLIC_BASE_URL=
EPAY_BASE_URL=https://pay.521cd.cn/xpay/epay
EPAY_PID=10579
EPAY_KEY=iHJVQVgarTIe6xYcUHVB
EPAY_NOTIFY_PATH=/api/payment/alipay-notify
EPAY_RETURN_PATH=/api/payment/return
EPAY_SITE_NAME=充值中心
EPAY_SIGN_TYPE=MD5
REDEEM_CODE_HINT=请回到中转站兑换页面输入卡密完成兑换。
