PORT=3001
SUB2API_BASE_URL=
SUB2API_ADMIN_API_KEY=
SUB2API_ADMIN_JWT=
VALID_DEMO_TOKEN=demo_token_preview
ALLOW_DEMO_TOKEN=false
ADMIN_PASSWORD=
ADMIN_SESSION_TTL_MINUTES=120
ADMIN_MAX_FAILED_ATTEMPTS=5
ADMIN_LOCK_MINUTES=15
ORDER_STORE_FILE=
PAYMENT_ORDER_TIMEOUT_MINUTES=30
PUBLIC_BASE_URL=http://43.156.141.204:3001
EPAY_BASE_URL=https://pay.521cd.cn/xpay/epay
EPAY_PID=10579
EPAY_KEY=
EPAY_NOTIFY_PATH=/api/payment/alipay-notify
EPAY_RETURN_PATH=/api/payment/return
EPAY_SITE_NAME=充值中心
EPAY_SIGN_TYPE=MD5
REDEEM_CODE_HINT=请回到中转站兑换页面输入卡密完成兑换。

